div.card-body {
    background-color: #e5f775;
    text-align:center;
    
}
div.card-header{
    background-color:white;
    text-align:center;
    font-family:cursive;
    font-weight:bold;
}
body {
    background-image: url('images/feedback.jpeg');
    background-size:cover;
}