body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Background Image and Display Homepage*/
.jumbotron {
    background-image: url('images/coloredbldgs.jpeg');
    background-size: cover;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    background-color: #94d9ce;
    color: #e5f775;
}

body {
    background-color:#f97979;

}

h2 {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color:darkslategray;
}
p#cover {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    font-size: large;
    color: darkslategray;
}


/*Styling for Reviews Index Page*/


h3#revcap {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
    color: #68c7c1;
    text-align: center;
}

p#revp{
    font-family:cursive;
    
    text-align:center;
}

div#revcolor.caption {
  background-color:  #e5f775;
}

