@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Travel Reviews</h1>
    <p class="lead">All the Reviews That are Fit to Print</p>

</div>

<div class="row">
    <div class="col-12" id="reviews">
        <h2 id="cover">What Are People Saying?</h2>
        <p id="cover">
            Check out our travel reviews, including Cruises, Hotels, Tours and Restaurants.<br />  See
            the best places to plan your activities based on thousands of independent reviews!
        </p>
        <p><a class="btn btn-info" href="~/Reviews/Index">Reviews &raquo;</a></p>
        

    </div>
    
</div>